@import "./reset.scss";

$메인컬러: orange;

.red {
  color: $메인컬러;
}

div.container h4 {
  color: blue;
}

div.container {
  h4 {
    color: pink;
  }
  p {
    color: plum;
  }
}

@mixin 함수 {
  background: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert {
  @include 함수();
}

.my-alert2 {
  @extend .my-alert;
  background: darkkhaki;
}
